* {
    box-sizing: border-box;
  }

body {
    background: url("http://oi67.tinypic.com/5kouo1.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100%;
    padding: 15px;
    font-size: 18px;
    text-shadow: 0 1px 0 black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

div {
    padding: 15px;
    border: #9e363a;
    border-width: 1px 2px solid;
    background-color: transparent;
    text-align: center;
  }

.header {
    align-self: center;
    flex: none;
    margin-bottom: 65px;
  }

.main {
    margin-bottom: 10px;
    flex: 1;
  }

main {
    align-self: center;
  }

.image {
    width: 130px;
    align-self: center;
    box-shadow: 0 1px 0 black;
  }

.main, .feedback, .questionButton, .finalSection {
background-color: #2d54af;
  }

.questionAnswer {
    background-color: #2d54af;
    border-radius: 2px;
  }

input[type="radio"] {
    -webkit-box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.75);
    border: 5px solid white; 
    border-radius: 5px;
  }

button {
    background: whitesmoke;
    color: #091f36;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 12px;
  }

.submitQuestion {
    margin-top: 5px;
  }

ul {
    list-style: none;
  }

.footer {
    flex: none;
    text-align: center;
  }
